---
import BaseLayout from "@/layouts/PortfolioLayout.astro";
const pageTitle = "ㅤ";
const url = Astro.url.pathname;
import Socialbutton from "@/components/socialbutton/main.astro";
import Menubutton from "@/components/menu/main.astro";

import { Picture } from "astro:assets";
import img_site from "./images/site.png";
const homebutton_hidden = true;
const card_name = "/cards/main.png";

import "@/styles/shape02.css"
---

<style>
    .shape02 {
        font-size:3vmin;
    }
    img {
        width: 95%;
    }
</style>
<BaseLayout
    pageTitle={pageTitle}
    homebutton_hidden={homebutton_hidden}
    page_url={url}
    card_file={card_name}
>
    <div class="shape02">
        <Picture src={img_site} alt="hello!" />
        <Menubutton />
        <Socialbutton />
    </div>
</BaseLayout>
